.allclientbg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(../../img/clients-banner-1.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-client-award {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(45, 44, 122, 0.5)
    ),
    url(../../img/bg-contant.png);
}

.bgclientRecognition {
  background: url(../../img/Recognition_banner2.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}
