.bg-img {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://i.ibb.co/g4NdYjD/home-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img-arabic {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://i.ibb.co/FJw2KhW/home-bg-arabic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.home-content {
    font-family: 'Poppins', sans-serif;
}