.contact_bg_img {
    background-image: url(../../img/contactbg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.contactFooterbg {
    background-image: url(../../img/footerbg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.monsterratFont {
    font-family: 'Montserrat', sans-serif;
}

.bgContactBanner {
    background-image: url(../../img/aboutbg.png);
}

.contact-banner {
    background-image: url(../../img/contacthandbg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}