.bgImage {
    background-image: url(../../img/aboutPortfoliobg.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-btn {
    background-color: #270B55;
}

.bg-btn:hover {
    background-color: #55148A;
}